*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

/* .container {
  height: 100vh;
  display: flex;
  background-color: red;
  position: relative;
} */

.sidebarCont{
  box-sizing: border-box;
  position: fixed;
  /* background: #ED1C5B; */
  width: auto;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.main{
  margin-left: 250px;
  /* padding: 5px; */
}
/* 
.container .content{
  
  padding-left:75px;
} */
